<div>

  <h1 style="margin-bottom:-35px">{{ class.class_name }}</h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Classroom">
      <div class="class-container">
        <div class="class-card-header">
          <div class="inner-container">
            <div class="card-background-image"></div>
            <div class="card-header-title">

              <h1>{{ class.class_name }}</h1>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Work">

      <div class="ClassroomHolder">
        <div class="ClassroomHeading">
          <h3>Lectire</h3>
          <p><a href='/'>Class Room Link</a></p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="People">
      <div class="ClassroomHolder">
        <div class="ClassroomHeading">

          <h3>Lectire</h3>
          <p><a href='/'>Class Room Link</a></p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
