<div class="tabs">
  <h1 style="margin-bottom: -35px" class="tab-class-header">
    {{ class.class_name }}
  </h1>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Classroom">
      <div class="class-container">
        <div class="class-card-header">
          <div class="inner-container">
            <div class="card-background-image"></div>
            <div class="card-header-title">
              <h1>{{ class.class_name }}</h1>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="all-tasks-card" *ngIf="tasks.length > 0; else noTasks">
            <span>Предстоящи</span>
            <div *ngFor="let task of tasks">
              <p>{{ task.taskName }}</p>
              <button mat-button>Преглед на всички</button>
            </div>
          </div>
          <ng-template #noTasks>
            <div class="all-tasks-card">
              <span>Предстоящи</span>
              <div>
                <p>Ура, нищо не трябва да се предава скоро!</p>
              </div>
            </div>
          </ng-template>
          <div class="tasks-cards" (click)="handleNavigation()">
            <div class="task-card" *ngFor="let task of tasks">
              <span id="icon">
                <svg
                  focusable="false"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="NMm5M"
                >
                  <path
                    d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H6V4h2v8l2.5-1.5L13 12V4h5v16z"
                  ></path>
                </svg>
              </span>
              <div class="task-header">
                <h1>
                  {{ task.taskName }}
                </h1>
                <span>18.10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Work">
      <div class="ClassroomHolder">
        <div class="ClassroomHeading">
          <h3>Lecturer</h3>
          <p><a href="/">Class Room Link</a></p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="People">
      <div class="ClassroomHolder">
        <div class="ClassroomHeading">
          <h3>Lecturer</h3>
          <div class="people-container">
            <div class="header">
              <h1>Съученици</h1>
              <span>{{ students.length }} учащи</span>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="people">
              <div
                class="people-card"
                *ngFor="let student of students; index as i"
              >
                <div class="people-info">
                  <span id="image">
                    <img [src]="[student.photo_url]" alt="profile picture" />
                  </span>
                  <div class="people-header">
                    <h1>
                      {{ student.full_name }}
                    </h1>
                  </div>
                </div>
                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
