.home-sections-container {
  & > div {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .home-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.example-card {
  min-width: 300px;
  height: 200px;
  position: relative;
}

.card-action {
  position: absolute;
  bottom: 15px;
  width: 95%;
  .divider {
    margin-bottom: 10px;
  }
}
