<div class="home-layout-root">
  <div class="mat-typography">
    <!-- This header will be styled as `title` because it is inside `.mat-typography` -->
    <h2>Welcome, Nikolay</h2>
  </div>
  <div class="home-sections-container">
    <div>
      <h3>My Courses</h3>
      <div class="home-section">
        <mat-card class="example-card">
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>Class Description</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            
            <button mat-button>Go to classroom</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>Class Description</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            
            <button mat-button>Go to classroom</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>Class Description</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            
            <button mat-button>Go to classroom</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
