
.account-popover {
    display: flex;
    align-items: center;
    cursor: pointer;
    .account-info {
      & > div {
        margin: 0px 0px 0px 5px !important;
      }
    }
  
    .account-image {
      background-size: cover;
  
      height: 45px;
      width: 45px;
  
      border-radius: 10%;
      margin-top: 10px !important;
      margin-right: 4px !important;
    }
  }