<mat-card class="card">
  <h1 class="mat-h1">ELearning</h1>
  <div class="card-header">
    <mat-card-title>Register</mat-card-title>
    <span class="spacer"></span>
    <a routerLink="/login">Login</a>
  </div>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput #fullName>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" #email>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="*********" #password>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="*********">
      </mat-form-field>
      <button type="button" class="submit-btn" mat-raised-button color="primary"
        (click)="handleSubmit(email.value, fullName.value, password.value)">
        <div class="loading-spinner" *ngIf="loading; else text">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
        <ng-template #text>
          Register
        </ng-template>
      </button>
    </form>
  </mat-card-content>
</mat-card>
